{
  "source": {
    "directories": ["./../src"]
  },
  "timeout": 5,
  "minMsi": 100,
  "minCoveredMsi": 100,
  "threads": "max",
  "staticAnalysisTool": "mago",
  "logs": {
    "github": true,
    "stryker": {
      "badge": "main"
    }
  },
  "tmpDir": "../var",
  "mago": {
    "configDir": "./",
    "customPath": "./../vendor/bin/mago"
  },
  "mutators": {
    "@default": true
  }
}
